@import './variables.scss';

// font families
// @font-face {
//   font-family: $roboto_regular;
//   src: url($roboto_regular_file) format('opentype');
// }

@font-face {
  font-family: $poppins_Extrabold;
  src: url($poppins-ExtraBold_file) format('opentype');
}

@font-face {
  font-family: $poppins_regular;
  src: url($poppins_regular_file) format('opentype');
}

@font-face {
  font-family: $poppins_SemiBold;
  src: url($poppins_SemiBold_file) format('opentype');
}

@font-face {
  font-family: $poppins_Medium;
  src: url($poppins_Medium_file) format('opentype');
}