// get color names from here https://chir.ag/projects/name-that-color/#6195ED

// colors
$white: #fff;
$black: #000;

$secondary_background: #9747FF;
$primary_background: #E1DEE3;
$grey: #9B9B9B;
$mine_shaft: rgba(145, 145, 145, 0.6);
$experience: #FAFAFA;
$stonner: #212121;

$crimson: #dc0a0a;
$skills: #ecf3ff;
$premium: #f7ad23;
$grey: #665e87;
$plans: #e3ffe8;
$success: #6bba14;
$agree_terms: #327644;
$experience: #f5f5f5;
$olive: #e3ffe8;
$mercury: #cfcdcd;
$concrete: #e8e6e6;
$alabaster: #d2cbcb;
$big_stone: #000000;
$stonner: #010101;
$mine_shaft: rgba(131, 124, 124, 0.6);

// font family names
$roboto_regular: 'Roboto';
$poppins_Extrabold: 'Poppins-ExtraBold';
$poppins_regular: 'Poppins-Regular';
$poppins_SemiBold: 'Poppins-SemiBold';
$poppins_Medium: 'Poppins-Medium';

// font sizes
$font_secondary: 13px;
$font_regular: 14px;
$font_primary: 16px;
$font_Large: 18px;
$font_small: 12px;
$font_verysmall: 1.0rem;
$font_tiny: 0.8rem;
$font_comment: 2.4rem;
$font_medium: 2.2rem;
$font-modal-location: 1.0rem;

// font family path
// $roboto_regular_file: '../assets/fonts/Roboto-Regular.ttf';
$poppins-ExtraBold_file: '../assets/fonts/Poppins-ExtraBold.ttf';
$poppins_regular_file: '../assets/fonts/Poppins-Regular.ttf';
$poppins_SemiBold_file: '../assets/fonts/Poppins-SemiBold.ttf';
$poppins_Medium_file: '../assets/fonts/Poppins-Medium.ttf';

//images
