// get color names from here https://chir.ag/projects/name-that-color/#6195ED

// colors
$white: #fff;
$black: #000;

$secondary_background: #CE222B;
$primary_background: #F2E9E6;
$stonner: #050303;
$experience: #C6AFA9;
$template: #6F060A;
$grey: #5D5755;
$mine_shaft: #8B8287;
$mercury: #8B8287;

$crimson: #dc0a0a;
$skills: #ecf3ff;
$premium: #f7ad23;
$grey: #665e87;
$plans: #e3ffe8;
$success: #6bba14;
$agree_terms: #327644;
$experience: #f5f5f5;
$olive: #e3ffe8;
$concrete: #e8e6e6;
$alabaster: #d2cbcb;
$big_stone: #000000;
$stonner: #010101;
$mine_shaft: rgba(131, 124, 124, 0.6);

// font family names
$roboto_regular: 'Roboto';
$poppins_Extrabold: 'Poppins-ExtraBold';
$poppins_regular: 'Poppins-Regular';
$poppins_SemiBold: 'Poppins-SemiBold';
$poppins_Medium: 'Poppins-Medium';

// font sizes
$font_tiny: 8px;
$font_verysmall: 10px;
$font_small: 12px;
$font_primary: 14px;
$font_regular: 16px;
$font_secondary: 18px;
$font_medium: 22px;
$font_comment: 24px;
$font_Large: 34px;

// font family path
// $roboto_regular_file: '../assets/fonts/Roboto-Regular.ttf';
$poppins-ExtraBold_file: '../assets/fonts/Poppins-ExtraBold.ttf';
$poppins_regular_file: '../assets/fonts/Poppins-Regular.ttf';
$poppins_SemiBold_file: '../assets/fonts/Poppins-SemiBold.ttf';
$poppins_Medium_file: '../assets/fonts/Poppins-Medium.ttf';

//images
